<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"><!--<![endif]-->
<head>
    <meta charset="UTF-8">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="description" content="Description">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="mobile-web-app-capable" content="yes">
    <title>{{title}} | {{site.title}}</title>

    <!-- build:css assets/css/app.css -->
    <link href="assets/css/app.css" rel="stylesheet">
    <!-- endbuild -->

    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="shortcut icon" href="images/touch/icon-128x128.png">

    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Web Starter Kit">
    <link rel="apple-touch-icon-precomposed" href="apple-touch-icon-precomposed.png">

    <!-- Tile icon for Win8 (144x144 + tile color) -->
    <meta name="msapplication-TileImage" content="images/touch/ms-touch-icon-144x144-precomposed.png">
    <meta name="msapplication-TileColor" content="#3372DF">

    <!-- Desktop url -->
    <link rel="canonical" href="http://www.example.com/">

</head>
<body>

{{> navbar }}

<main class="container" role="main">

    {{> body }}

</main>

<script>
//    var _gaq=[["_setAccount","UA-XXXXX-X"],["_trackPageview"]];
//    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];g.async=1;
//        g.src=("https:"==location.protocol?"//ssl":"//www")+".google-analytics.com/ga.js";
//        s.parentNode.insertBefore(g,s)}(document,"script"));
</script>

<!-- build:js assets/js/vendor.js -->
<script src="assets/js/vendor/modernizr.js"></script>
<!-- endbuild -->

<!-- build:js assets/js/app.js -->
<script src="assets/js/main.js"></script>
<!-- endbuild -->

</body>
</html>
