---
title: Home
heading: 'Yo, Assemble!'
lead: Welcome to my blog!
---
<main>
    <h1>{{ heading }}</h1>
    <p>This is a Generator template using Assemble</p>
    <img src="assets/img/skeletor.jpg" alt=""/>
</main>
